*{

}
a{
	border: 0px;
	text-decoration: none;	
}
@font-face {
    font-family: 'aldosemibold';
    src: url('font/aldo-semibold-webfont.eot');
    src: url('font/aldo-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/aldo-semibold-webfont.woff') format('woff'),
         url('font/aldo-semibold-webfont.ttf') format('truetype'),
         url('font/aldo-semibold-webfont.svg#aldosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body{
	font-family: 'aldosemibold';
	font-size: 11px;
	padding: 0px;
	margin: 0px;
}
img{
	border: none;
}
body{
	background-color: #FFF;
}

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{display:block}
mark, rp, rt, ruby, summary, time{display:inline }

.clear{
	clear: left;
}
#header{
	/*background-color: red;*/
	height: 80px;
}

#headLogo,#headMenu{
	float: left;
	width: 50%;
	position: relative;
	top: 5%;
	left: 3%
}
/*menu*/
#main-menu ul {
margin: 0px;
padding: 0px;
}
 
#main-menu li {
list-style-type: none;
display: inline;
margin: 0 5px 0 5px;
}
 
#main-menu li a {
	color: #FFFFFF;
	text-decoration: none;
}
 
#main-menu li a.active, #main-menu a:hover {

color: #D9CD60;
}
#footer{
	background-color: #FFFFFF;
	position: fixed;
	width: 100%;
	height: 70px;
	bottom: 0;
}
#contFondo{
	width: 100%;
	height: 100%;
	z-index: -999;
	position: absolute;
}
#contFondoPatrocit{
	position: absolute;
	width: 100%;
	top: 30%;
	text-align: center;
}
#contFondoPatrocit img{
	
	height: 40%;
}
#contMenu{
	position: absolute;
	width: 100%;
	height: 100%;
}
#menu1{
	position: absolute;
	left: 35%;
	top: 25%;
}
#menu2{
	position: absolute;
	left: 47%;
	top: 15%;
}
#menu3{
	position: absolute;
	right: 34%;
	top: 25%;
}
#menu4{
	position: absolute;
	right: 30%;
	top: 45%;
}
#menu5{
	position: absolute;
	right: 34%;
	bottom: 25%;
}
#menu6{
	position: absolute;
	left: 47%;
	bottom: 15%;
}
#menu7{
	position: absolute;
	left: 34%;
	bottom: 25%;
}
#menu8{
	position: absolute;
	left: 30%;
	top: 45%;
}
#textMenu1{
	position: absolute;
	left: 35%;
	top: 35%;
}
#textMenu2{
	position: absolute;
	left: 45.5%;
	top: 24%;
}
#textMenu3{
	position: absolute;
	right: 35%;
	top: 35%;
}
#textMenu4{
	position: absolute;
	right: 30%;
	top: 55%;
}
#textMenu5{
	position: absolute;
	right: 35%;
	bottom: 23%;
}
#textMenu6{
	position: absolute;
	left: 48.5%;
	bottom: 12%;
}
#textMenu7{
	position: absolute;
	left: 35%;
	bottom: 22%;
}
#textMenu8{
	position: absolute;
	left: 30%;
	top: 55%;
}


#contFondo img{
	width: 100%;
	height: 100%;

}
#footContImg, #footContText{
	float: left;
	height: 100%;
}
#footContImg{
	/*background-color: blue;*/
	width: 30%;
}
#footContText{
	/*background-color: green;*/
	width: 70%;
}

/* menu 2*/

#stylefour{
	position:relative;
	right: 0%;
	bottom: 25%;
	display:block;
	font-size:12px;
	font-family:Arial,Verdana,Helvitica,sans-serif;
	}

#stylefour ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	}

#stylefour ul li{
	display:block;
	float:left;
	margin:0;
	}

#stylefour ul li a{
	display:block;
	float:left;
	color:#FFF;
	text-decoration:none;
	padding:11px 20px 0 20px;
	height:23px;
	background:transparent url(../image/line.png) no-repeat top right;
	}

#stylefour ul li a:hover,#stylefour ul li a.current{
	color:#FFF;
	font-size:13px;
	font-weight:bold;
	}
/*Hover*/

	#contMenu h2 {
		font-size: 16px;
		color:#da581f;
		margin:1em 0 0 0;
		text-shadow: 2px 2px 2px #fff;
	}
	p {
		font-family:Arial, sans-serif;
		font-size:.8em;
		margin:.5em 0 1em 0;
	}
	.orangeHover img{
		
		-webkit-transform: scale(.9);
		   -moz-transform: scale(.9);
		    -ms-transform: scale(.9);
		     -o-transform: scale(.9));		
		        transform: scale(.9);
	
		-webkit-transition: all 400ms; 
		   -moz-transition: all 400ms; 
		    -ms-transition: all 400ms; 
		     -o-transition: all 400ms; 
		        transition: all 400ms;
	}
	.orangeHover:hover img {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1));
		-ms-transform: scale(1);
		transform: scale(1);
	}
	.orangeHover h2{
		
		-webkit-transform: scale(.9);
		   -moz-transform: scale(.9);
		    -ms-transform: scale(.9);
		     -o-transform: scale(.9));		
		        transform: scale(.9);
	
		-webkit-transition: all 800ms; 
		   -moz-transition: all 800ms; 
		    -ms-transition: all 800ms; 
		     -o-transition: all 800ms; 
		        transition: all 800ms;
	}
	.orangeHover:hover h2 {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1));
		-ms-transform: scale(1);
		transform: scale(1);
	}

	/*Modal*/
	.menu_modal{
		height: 300px;
		width: 600px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	.modal_iza, .modal_der{
		float: left;
		width: 50%;
		height: 100%;
	}
	.modal_iza{
		background-color: #fff;
		text-align: center;
		margin: 0 auto;

		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	.modal_der{
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background-color: #ff9540;
	}

	#contDialog{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	#fondoDialog{
		position: absolute;
		left: 40%;
		bottom: 80%;
	}

	hr {
	 	 border: 0;
	 	 width: 95%;
		 background-color: #848484;
		 height: 1px;
	}

	/* form ****/

	#parrafo{
	width: 900px;
	font-size: 18px;
	text-align: justify;
	}
	*{
		margin: 0 auto;
	}
	#parrafo form{
		padding: 25px;
		text-align: right;
		width: 250px;
	}

	#parrafo input [type=text]{
		text-align: center;
		width: 70%;
	}
	#parrafo label{
		float: left;
	}
	#parrafo p{
		margin: 10px 0;
	}
